<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zodiac Sign Finder</title>
    <link rel="stylesheet" href="styles/main.css">

</head>
<body>
    <h1>Zodiac Sign Finder</h1>
    <form action="/zodiac" method="post">
        <label for="day">Day:</label>
        <input type="number" name="day" required>
        <label for="month">Month:</label>
        <input type="number" name="month" required>
        <button type="submit">Find Zodiac Sign</button>
    </form>

</body>
</html>
