<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zodiac Sign Result</title>
    <link rel="stylesheet" href="styles/main.css">

</head>
<body>
    <div class="frame">
    <h1>Your Zodiac Sign is <%= zodiacSign %></h1>
<p>Zodiac signs provide a fascinating lens through which we explore the diverse tapestry of human personalities and behaviors. Rooted in ancient astrological traditions, these twelve signs offer a symbolic framework, each associated with distinct traits, characteristics, and elemental influences based on one's date of birth.</p>

    <p>From the assertive Aries to the sensitive Pisces, the zodiac spans a spectrum of energies and attributes. These signs not only guide astrological interpretations but also serve as a source of self-reflection and understanding. Whether one identifies with the passionate fire signs, the practical earth signs, the communicative air signs, or the emotional water signs, the zodiac enriches our appreciation for the complexity and uniqueness of each individual, fostering a deeper connection with the cosmic forces that shape our lives.🌌✨</p>
<br>

  <img src="images/img.png" alt="Clickable Image Map" usemap="#imageMap">

  <map name="imageMap">
    <!-- Define clickable area 1 -->
    <area shape="rect" coords="25,13,165,80" href="#aries" alt="Area 1">

    <!-- Define clickable area 2 -->
    <area shape="rect" coords="196,13,360,80" href="#taurus" alt="Area 2">

    <!-- Define clickable area 3 -->
    <area shape="rect" coords="370,13,530,80" href="#gemini" alt="Area 3">

    <!-- Define clickable area 4 -->
    <area shape="rect" coords="540,13,700,80" href="#cancer" alt="Area 4">
    
    <!-- Define clickable area 5 -->
    <area shape="rect" coords="25,102,165,177" href="#leo" alt="Area 5">
 
    <!-- Define clickable area 6 -->
    <area shape="rect" coords="196,102,360,177" href="#virgo" alt="Area 6">
 
    <!-- Define clickable area 7 -->
    <area shape="rect" coords="370,102,530,177" href="#libra" alt="Area 7">
 
    <!-- Define clickable area 8 -->
    <area shape="rect" coords="540,102,700,177" href="#scorpio" alt="Area 8">
     <!-- Define clickable area 9 -->
     <area shape="rect" coords="25,190,190,268" href="#sagittarius" alt="Area 9">

     <!-- Define clickable area 10 -->
     <area shape="rect" coords="198,190,360,268" href="#capricorn" alt="Area 10">
 
     <!-- Define clickable area 11 -->
     <area shape="rect" coords="370,190,530,268" href="#aquarius" alt="Area 11">
 
     <!-- Define clickable area 12 -->
     <area shape="rect" coords="540,190,701,268" href="#pisces" alt="Area 12">

  </map>

  
<section id="aries">
    <h1>Aries</h1>
        <img id="circle" src="images/aries.jpg" alt="aries">
        <p>Aries spans from March 21 to April 19, and is symbolized by the dynamic Ram. Individuals born under the Aries sign are known for their bold and energetic approach to life, driven by the fiery passion imparted by their ruling planet, Mars.</p>
        <p>Arians are natural leaders, trailblazers who fearlessly initiate new ideas and projects. 
            Their competitive spirit, coupled with a resilient determination, propels them to overcome challenges with enthusiasm. 
            While their impulsive nature may surface, Aries individuals are genuine and straightforward, valuing honesty and authenticity in their relationships. 
            Their vigor and zest for adventure make them inspiring figures who inject a dynamic spark into the world around them.</p>
    </section>
    <br>
<section id="taurus">
    <h1>Taurus</h1>
    <img id="circle" src="images/taurus.jpg" alt="taurus">
<p>Taurus encompasses those born between April 20 and May 20, 
    embodying the grounded and reliable traits associated with the Earth element. Ruled by Venus, Taureans are known for their steadfast nature, practicality, and appreciation for life's sensual pleasures, reflecting a harmonious blend of determination and appreciation for the finer things in life.</p>
</section>
<br>
<section id="gemini">
    <h1>Gemini</h1>
    <img id="circle" src="images/gemini.jpg" alt="gemini">
<p>Gemini, the third sign of the zodiac, encompasses individuals born between May 21 and June 20, reflecting the airy and versatile qualities associated with this sign. Ruled by Mercury, Geminis are known for their curious minds, adaptability, and sociable nature, often embodying the duality symbolized by the Twins, 
    expressing both intellectual depth and a lively, communicative spirit.</p>
</section>
<br>
<section id="cancer">
    <h1>Cancer</h1>
    <img id="circle" src="images/cancer.jpg" alt="cancer">
<p>Cancer includes those born between June 21 and July 22, 
    embodying the sensitive and nurturing qualities associated with the Water element. 
    Ruled by the Moon, Cancer individuals are known for their deep emotional intuition, 
    strong family bonds, and a protective nature, often expressing their caring instincts 
    through empathy and loyalty.</p>
</section>
<br>
<section id="leo">
    <h1>Leo</h1>
    <img id="circle" src="images/leo.jpeg" alt="leo">
<p>Leo spans from July 23 to August 22, embodying the fiery and confident attributes associated with the Fire 
    element. Ruled by the Sun, Leos are characterized by their bold charisma, creativity, and natural leadership 
    qualities, often shining brightly in social situations with their warm and generous personalities.</p>
</section>
<br>
<section id="virgo">
    <h1>Virgo</h1>
    <img id="circle" src="images/virgo.jpg" alt="virgo">
<p>Virgo includes individuals born between August 23 and September 22, and is associated with the Earth element. 
    Ruled by Mercury, Virgos are known for their analytical minds, attention to detail, and practical approach to life, often 
    expressing their dedication and service-oriented nature through precision and a keen sense of responsibility.</p>
</section>
<br>
<section id="libra">
    <h1>Libra</h1>
    <img id="circle" src="images/libra.jpg" alt="libra">
<p>Libra encompasses those born between September 23 and October 22, representing the Air element. Ruled by Venus, Librans are known for their diplomatic nature, charm, and a deep appreciation for beauty and harmony. Often seeking balance and fairness, they 
    are skilled communicators who value relationships and strive for cooperation in both personal and social spheres.</p>
</section>
<br>
<section id="scorpio">
    <h1>Scorpio</h1>
    <img id="circle" src="images/scorpio.jpg" alt="scorpio">
    <p>Scorpio includes individuals born between October 23 and November 21, and is associated with the Water element. 
        Ruled by Pluto (traditional ruler Mars), Scorpios are known for their intensity, resilience, and depth of emotions, often 
        navigating the complexities of life with a powerful sense of intuition and a desire for transformative experiences.</p>
</section>
<br>
<section id="sagittarius">
    <h1>Sagittarius</h1>
    <img id="circle" src="images/sagittarius.jpg" alt="sagittarius">
    <p>Sagittarius encompasses individuals born between November 22 and December 21, representing the Fire element. Ruled by Jupiter, 
        Sagittarians are characterized by their adventurous spirit, optimism, and love for exploration. Known for their philosophical 
        nature, they often seek meaning and wisdom in their pursuits, embracing a freedom-loving and open-minded approach to life.</p>
</section>
<br>
<section id="capricorn">
    <h1>Capricorn</h1>
    <img id="circle" src="images/capricorn.jpg" alt="capricorn">
    <p>Capricorn spans from December 22 to January 19, representing the Earth element. Ruled by Saturn, 
        Capricorns are known for their disciplined, ambitious, and pragmatic nature. Often associated with hard work and responsibility, 
        individuals born under this sign are driven to achieve their goals, demonstrating a patient and persistent approach to success.</p>
</section>
<br>
<section id="aquarius">
    <h1>Aquarius</h1>
    <img id="circle" src="images/aquarius.jpg" alt="aquarius">
    <p>Aquarius includes individuals born between January 20 and February 18, and is associated with the Air element. 
        Ruled by Uranus (traditional ruler Saturn), Aquarians are known for their progressive thinking, intellectual pursuits, and a 
        strong sense of individuality. Often characterized by their humanitarian values, they are inclined to embrace innovation and 
        social causes, fostering a community-oriented and visionary approach to life.</p>
</section>
<br>
<section id="pisces">
    <h1>Pisces</h1>
    <img id="circle" src="images/pisces.jpg" alt="pisces">
    <p>Pisces encompasses individuals born between February 19 and March 20, representing the Water element. 
        Ruled by Neptune (traditional ruler Jupiter), Pisceans are known for their compassionate, imaginative, and empathetic nature. 
        Often deeply attuned to their emotions and the feelings of others, they possess a creative and intuitive spirit, 
        allowing them to navigate the complexities of life with a dreamy and empathic perspective.</p>
</section>
    <br>
    
    <a href="/">HOME</a>
    <br>
    
    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Zodiac Sign. All rights reserved.</p>
    </footer>
</div>
</body>
</html>
